html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
}

.hs-container-right {
  position: absolute;
  right: 40px;
  top:50%;
  transform: translateY(-50%);
}